html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
}

nav {
  width: 100%;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #344563;
}

.toggleNav {
  display: none;
}

ul.social {
  width: 60vw;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: -20px;
}

ul.social li {
  display: inline-block;
  padding: 0 20px;
  color: #505f79;
}

ul.social li a i {
  font-size: 24px;
}

section h1 {
  font-size: 48px;
  font-weight: 900;
  padding-top: 20px;
  width: 60vw;
  margin: 0 auto;
  line-height: 60px;
}

section p {
  font-size: 20px;
  font-weight: 400;
  width: 60vw;
  margin: 0 auto;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .toggleNav {
    display: block;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    clear: right;
    color: #6070ff;
  }

  .wrapper {
    width: 100%;
  }

  section {
    background-image: url("../images/background_mobile.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: normal;
  }

  section h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 52px;
    position: relative;
    top: 70px;
    width: 90vw;
    color: #172b4d;
  }

  section p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 150%;
    position: relative;
    font-style: normal;
    top: 70px;
    left: -20px;
    color: #344563;
    width: 80vw;
  }

  ul.social {
    position: relative;
    top: 10px;
    width: 90vw;
    left: -5px;
  }

  ul.social li {
    padding: 0 4px;
  }

  .flex-nav {
    flex-wrap: wrap;
  }

  .logo {
    flex-basis: 80%;
  }

  .flex-nav ul {
    display: none;
    border: 1px solid #fff;
  }

  .flex-nav ul.open {
    display: flex;
    flex-direction: column;
    background: rgb(139 118 118 / 20%);
    border-radius: 5px;
    align-items: center;
    flex: 1;
  }

  .flex-nav ul.open li {
    padding: 10px 0;
  }

  section .connect {
    margin-top: 100px;
    font-weight: 500;
    position: relative;
    left: 10px;
  }
}
