html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #f7f7f9;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  margin: 0 auto;
  background-color: #f7f7f9;
  min-height: 0;
  min-width: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
}

.wrapper > *:not(:first-child) {
  margin-bottom: 88px;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
}

section.sect1 .connect {
  margin-top: 100px;
  font-weight: 500;
  position: relative;
  left: 15px;
}

section.sect1 {
  background-image: url("../images/background_mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 604px;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: normal;
  -moz-box-pack: normal;
  justify-content: normal;
  padding-bottom: 0;
  background-color: #fff;
  border-bottom-left-radius: 60px;
}

nav {
  width: 100%;
  min-height: 6vh;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  padding: 0 20px;
}

.flex-nav ul.open {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  background: rgb(139 118 118 / 20%);
  border-radius: 5px;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  flex: 1 1 100%;
}

ul li {
  display: inline-block;
  padding: 0 20px;
}

ul.social li {
  display: inline-block;
  padding: 0 4px;
  color: #505f79;
}

.flex-nav ul.open li {
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}

.flex-nav ul {
  display: none;
  border: 1px solid #fff;
}

.toggleNav {
  display: block;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  clear: right;
  color: #6070ff;
}

.logo {
  flex-basis: 80%;
  animation-duration: 3s;
  animation-name: slidein;
}

.flex-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

ul.social {
  position: relative;
  margin: 0 auto;
  padding: 0;
  top: 10px;
  width: 90vw;
  left: -5px;
}

a {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #344563;
}

header {
  background-color: #fff;
}

ul.social li a i {
  font-size: 24px;
}

section.sect1 h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  position: relative;
  top: 70px;
  width: 90vw;
  color: #172f4d;
  padding-top: 20px;
  margin: 0 auto;
}

section.sect1 p {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 150%;
  position: relative;
  font-style: normal;
  top: 70px;
  left: -20px;
  color: #344563;
  width: 80vw;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  header {
    padding: 16px 143px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    z-index: 9999;
  }

  .wrapper > *:not(:first-child) {
    margin-bottom: 142px;
  }

  .flex-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
  }

  .wrapper {
    margin: 0 auto;
  }

  .flex-nav {
    flex-wrap: nowrap;
  }

  ul li {
    display: inline-block;
    padding: 0 20px;
  }

  section.sect1 .connect {
    margin-top: 30px;
    width: 60vw;
    left: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  section.sect1 {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position-x: right;
    height: 721px;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    align-items: center;
    padding: 48px 8px 77px 35px;
    position: relative;
    top: 70px;
  }

  .toggleNav {
    display: none;
  }

  section.sect1 h1 {
    font-size: 48px;
    font-weight: 900;
    width: 60vw;
    line-height: 60px;
    top: 0;
  }

  section.sect1 p {
    font-size: 20px;
    font-weight: 400;
    width: 60vw;
    line-height: 28px;
    top: 0;
    left: 0;
  }

  ul.social li {
    padding: 0 7px;
  }

  ul.social {
    width: 60vw;
    position: relative;
    left: -10px;
  }

  nav {
    width: 80vw;
  }
}

.img-logo { transition: all 2s 1s ease-out; }

.img-logo:hover {
  transform: scale(1.1);
}

nav ul li a {
  transition: all 0.3s 0.2s ease-in;
}

nav ul li a:hover,
nav ul li a:focus {
  box-shadow: 1px 2px 3px 1px transparent;
  font-size: 20px;
  right: 15px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  50% {
    background-color: blue;
    color: #fff;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.work {
  transition: all 2s 0.1s ease;
}

.work:hover {
  box-shadow: 2px 1px 4px 2px burlywood;
}

button {
  transition: all 0.5s ease-out;
}

button:hover,
button:focus {
  background-color: #fff;
  color: #333;
}
