html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #f7f7f9;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  margin: 0 auto;
  background-color: #f7f7f9;
  min-height: 0;
  min-width: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
}

nav {
  width: 100%;
  min-height: 6vh;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  padding: 0 20px;
}

.flex-nav {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
}

section.sect1 {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}

ul li {
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #344563;
}

.toggleNav {
  display: none;
}

ul.social {
  width: 60vw;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: -20px;
}

ul.social li {
  display: inline-block;
  padding: 0 20px;
  color: #505f79;
}

header {
  background-color: #fff;
}

ul.social li a i {
  font-size: 24px;
}

section.sect1 h1 {
  font-size: 48px;
  font-weight: 900;
  padding-top: 20px;
  width: 60vw;
  margin: 0 auto;
  line-height: 60px;
}

section.sect1 p {
  font-size: 20px;
  font-weight: 400;
  width: 60vw;
  margin: 0 auto;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .toggleNav {
    display: block;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    clear: right;
    color: #6070ff;
  }

  .wrapper {
    width: 100%;
  }

  section.sect1 {
    background-image: url("../images/background_mobile.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 718px;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: normal;
    -moz-box-pack: normal;
    justify-content: normal;
  }

  section.sect1 h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 52px;
    position: relative;
    top: 70px;
    width: 90vw;
    color: #172f4d;
  }

  section.sect1 p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 150%;
    position: relative;
    font-style: normal;
    top: 70px;
    left: -20px;
    color: #344563;
    width: 80vw;
  }

  ul.social {
    position: relative;
    top: 10px;
    width: 90vw;
    left: -5px;
  }

  ul.social li {
    padding: 0 4px;
  }

  .flex-nav {
    flex-wrap: wrap;
  }

  .logo {
    flex-basis: 80%;
  }

  .flex-nav ul {
    display: none;
    border: 1px solid #fff;
  }

  .flex-nav ul.open {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    background: rgb(139 118 118 / 20%);
    border-radius: 5px;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
  }

  .flex-nav ul.open li {
    padding: 10px 0;
  }

  section.sect1 .connect {
    margin-top: 100px;
    font-weight: 500;
    position: relative;
    left: 10px;
  }
}
