.contact-form {
 top: 178px !important;
    background: url(../images/contactbg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-form h2{ text-align: center;}
